#########################
# TYPO3v4/Distributions
# global ignore file
########################
# for local exclude patterns please edit .git/info/exclude
#
*.bak
*.idea
*.project
*.swp
*~
.buildpath
.cache
.DS_Store
.project
.session
.settings
.TemporaryItems
.webprj
index.php
nbproject
t3lib
Targets/
typo3
typo3_src
Work/
