[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Distributions/Introduction-Members
	label-Verified = -1..+2 group TYPO3v4/Distributions/Introduction-Members
	submit = group TYPO3v4/Distributions/Introduction-Members
	create = group TYPO3v4/Distributions/Introduction-Leaders
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Distributions/Introduction-Leaders
	create = group TYPO3v4/Distributions/Introduction-Leaders
[project]
	state = active
[access "refs/for/refs/heads/*"]
	pushMerge = group TYPO3v4/Distributions/Introduction-Members
	forgeCommitterIdentity = group TYPO3v4/Distributions/Introduction-Leaders
[access]
	owner = group TYPO3v4/Distributions/Introduction-Leaders
[submit]
	action = cherry pick
	mergeContent = true
